body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.main {
    width: 50%;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    color: #333;
}

input {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    width: 50%;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

.li_items {
    color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.li_items:last-child {
    border-bottom: none;
}

.li_items button {
    background-color: #dc3545;
}

.li_items button:hover {
    background-color: #bd2130;
}

.li_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.li_items:last-child {
    border-bottom: none;
}

.li_items button {
    margin-left: 10px; /* Add space between buttons */
    min-width: 60px; /* Ensure minimum width for buttons */
}

